{% extends "educate/base.html" %}
{% block banner %}
{% endblock %}
{% block title %}
<h1 class="pagetitle">Articles</h1>
{% endblock %}
{% block content %}
  {% if article %}
    <h2>{{ article.title }} // {{article.slug }} //</h2>
    {{ article.body }}
  {% endif %}
  {% if article_list %}
    <table class="table table-striped">
      <tr>
      <th>Subject</th>
      <th>Description</th>
    </tr>
    {% for art in article_list %}
      <tr>
	<td><a href="{% url 'article' art.slug %}">{{ art.title }}</a></td>
        <td>{{ art.summary }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No articles found</p>
  {% endif %}
{% endblock %}
