{% load staticfiles %}
{% load admin_urls %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <title>{% block pagetitle %}Questions and Quizzes // A Place for Learning{{ page.title }} // Tim Barnes{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'educate/educate.css' %}" />
    {% block js %} {% endblock %}
    <meta name="keywords" content="education, training, learning, online, architecture, are" {% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{{ page.summary }}.{% endblock %}"Learning tools for busy people" />
    <meta name="distribution" content="Global" />
  </head>

  <body>
    <div id="main">
      <div id="banner">
	<h1><a href="{% url 'home' %}">// Questions and Quizzes //</a></h1>
      </div>
      <div id="nav">
	{% block nav %}
	<a href="{% url 'home' %}">Home</a> // 
        <a href="{% url 'all_subjects' %}">Subjects</a> //
	<a href="{% url 'all_categories' %}">Categories</a> //
	<a href="{% url 'all_articles' %}">Articles</a> //
	{% if registered %}
	Logged in as {{ username }} //
	<a href="{% url 'admin:index' %}">Admin</a> //
	<a href="{% url 'auth_logout' %}">Logout</a> //
	{% else %}
	<a href="{% url 'auth_login' %}">Login</a> //
	{% endif %}
	{% endblock %}
        <hr>
      </div>
      <div id=body>
	<div class=content>
	<div id=title>
          {% block title %}<h1 class="pagetitle">Home</h1><br />{% endblock %}
	</div>
	  {% block content %}
	  {% endblock %}
	</div>
	<div class=sidebar>
	  <div class=menu>
	    {% block subjectmenu %}
	    {% if subject_list %}
	    <h3>Subjects:</h3>
	      {% for sub in subject_list %}
	        <p><a href="{% url 'categories' sub.slug %}">{{ sub.name }}</a></p>
	      {% endfor %}
	    {% endif %}
	    {% endblock %}
	  </div>
	  <div class=menu>
	    {% block categorymenu %}
	    {% if category_list %}
	    <h3>Categories:</h3>
	      {% for cat in category_list %}
	      <span class=sc><p><a href="{% url 'questions' cat.slug %}">{{ cat.name }}</a></p></span>
	      {% endfor %}
	    {% endif %}
	    {% endblock %}
	  </div>
	  <div class=menu>
	    {% block menu %}
	    <h3>Tags:</h3>
	    {% for t in tag_list %}
	    <span class=tg><p><a href="{% url 'tagged' t.slug %}">{{ t.name }}</a></p></span> 
	    {% endfor %}
	    {% endblock %}
	  </div>
	</div>
      </div>
      <div id=footer>
	{% block footer %}
	<div id=byline>
	  <h2>About this site</h2>
	  <p>A simple resource for learning.</p>
	  <p>Information is provided on an as-is basis. No warranty is expressed or implied. Use at your own risk.</p>
	  <p>Copyright (c) Timothy J Barnes 2014.</p>
	</div>
	{% endblock %}
      </div>
    </div>
</div>
</body>
</html>
