{% extends "educate/base.html" %}
{% block title %}
<h1 class="pagetitle">Category: {{ category.name }}</h1>
{% endblock %}
{% block content %}
<br />
{% if question_list  %}
<h2>Questions</h2>
    {% for q in question_list %}
      <p><strong><a href="{% url 'ask' q.id %}">{{ q.question }}</a></strong></p>
    {% endfor %}
<br />
{% endif %}
{% if article_list %}
<h2>Articles</h2>
    {% for a in article_list %}
      <p><strong>><a href="{% url 'article' a.slug %}">{{ a.title }}</a></strong> -  
	{{ a.summary }}</p>
    {% endfor %}
<br />
{% endif %}
{% endblock %}


