{% extends "educate/base.html" %}
{% block title %}
<h1 class="pagetitle">Category: {{ category.name }}</h1>
{% endblock %}
{% block content %}
<br />
<h2>Subject</h2>
      <p><strong><a href="{% url 'categories' subject.slug %}">{{ subject.name }}</a></strong></p>
<br />
{% if article_subset %}
<h2>Articles</h2>
    {% for a in article_subset %}
      <p><strong>><a href="{% url 'article' a.slug %}">{{ a.title }}</a></strong> -  
	{{ a.summary }}</p>
    {% endfor %}
<br />
{% endif %}
{% if question_subset  %}
<h2>Questions</h2>
    {% for q in question_subset %}
      <span class=list><a href="{% url 'ask' q.id %}">{{ q.question }}?</a></span>
    {% endfor %}
<br />
{% endif %}
{% endblock %}


