{% extends "consulting/base.html" %}
{% load comments %}
{% load markup %}

{% block title %}
<h1 class="pagetitle">{{ page.title }}</h1>
{% endblock %}

{% block keywords %}
{% for tag in page.tags.all %}, {{ tag.tag }}{% endfor %}
{% endblock %}

{% block content %}
<div class="article">
  <div class="outsetmenu">
    {% for a in articles %}
    <a href="#{{ a.slug }}">{{ a.title }}</a><br />
    {% endfor %}
</ul>
{% if more %}
<h3 style="text-align:right;"><a href="{{ page.get_absolute_url }}../{{ more }}" title="More articles">Next Page &gt;</a></h3>
{% endif %}
</div>
<div class="toppara">
  {% if page.lead_image %}
  <img src="/media_store/{{page.lead_image}}" align="right" />
  {% endif %}
  {{ page.body|safe }}
</div>
</div>

{% if articles %}
{% for a in articles %}
<div class="article">
  <div class="outset">{{ a.summary }}<br />
  </div>
  <div class="firstpara">
    <a name="{{ a.slug }}" />
    <h2><a href="{{ a.get_absolute_url }}">{{ a.title }}</a></h2>
    {{ a.body|truncatewords_html:250|textile }}<p><a href="{{ a.get_absolute_url }}" title="See the full article">more &gt;</a></p>
    <div class="footer" >Published: {{ a.pub_date|date:"Y/m/d" }}
      Tags{% for t in a.tags.all %}:<a href="{{ t.get_absolute_url }}">{{ t.tag }}</a>{% endfor %}
    </div>
  </div>
</div>
{% endfor %}
{% if more %}
<div class=firstpara><h2><a href="{{ page.get_absolute_url }}../{{ more }}" title="Next page">Next Page &gt;</a></h2></div>
{% endif %}
{% else %}
<div class=article>
  <div class=outset>
    <h2>About us</h2>
  </div>
  <div class=firstpara>
    <p>Tim Barnes is a widely <a href="/clients/1/" title="Client list">experienced</a> consultant and author. He has provided <a href="/services/1/" title="Strategy and Marketing Services to help your business">strategy, market research and branding services</a> to industries as varied as semiconductors, software, banking, furniture, industrial design and life insurance.</p>
    <p>His unique <a href="/philosophy/1/" title="Business philosophy">philosophy</a> and <a href="/working/1/" title="Personal commitment to deliver value">working style</a> have enabled him to achieve an industry-leading 95% rate of repeat business with clients including Texas Instruments, Herman Miller, and the Ford Motor Corporation.</p>
    <p>Strategy & Marketing brings unique consultative tools that deliver actionable answers rapidly and in a cost-effective manner.</p>
    <h2><a href="/contact/1/">Contact us today.</a></h2>
  </div>
</div>
</div>
{% endif %}
{% endblock %}

{% comment %}
{% block comments %}
{% if page.enable_comments %}
{# Put in the comment section #}
<div class=firstpara>
  {% get_comment_list for consulting.page page.id as comment_list %}
  {% if comment_list %}
  <h3 id="comments">Comments</h3>
  {% for comment in comment_list %}
  <div class="comment_{% cycle odd,even %}" id="c{{ comment.id }}">
    <span class="comnum"><a id="c{{ comment.id }}" href="#c{{ comment.id }}">#{{ forloop.counter }}</a></span>
    <p><b>{{ comment.person_name|escape }}</b> commented, on {{ comment.submit_date|date:"F j, Y" }} at {{ comment.submit_date|date:"P" }}:</p>
    {{ comment.comment|escape|urlizetrunc:40|linebreaks }}
  </div>
  {% endfor %}
  {% endif %}
  <h3>Post a comment</h3>
  {% render_comment_form for consulting.page page.id %}
</div>
{% endif %}
{% endblock %}
{% endcomment %}

{% block menu %}
{% if pages %}
<h3>// Navigation</h3>
{% for i in pages %}
<p><a href="{{ i.get_absolute_url }}" title="{{ i.summary|escape }}">{{ i.title }}</a></p>
{% endfor %}
{% else %}
<a href="index">Home</a>
{% endif %}
<h3>// Archive</h3>
<p><a href="/archive/2009/">2009</a> / <a href="/archive/2008/">2008</a> / <a href="/archive/2007/">2007</a><br /></p>
{% endblock %}

{% block submenu %}
{% if articles %} {# Render the submenu of articles for this page #}
<h3 title="Extended articles">// {{ title }}{{ page.title }}</h3>
{% for i in articles %}
<p><a href="{{ i.get_absolute_url }}" title="{{ i.summary|escape }}">{{ i.title }}</a></p>
{% endfor %}
{% endif %}
{% endblock %}

{% block tagmenu %}
{% if tags %} {# Render the tag menu #}
<h3 title="Filter content by category">// Tags</h3>
{% for i in tags %}
<p><a href="{{ i.get_absolute_url }}">{{ i.tag }}</a></p>
{% endfor %}
{% endif %}
<h3><a href="/sitemap">// Sitemap</a></h3>
{% endblock %}
