{% extends "educate/base.html" %}
{% block banner %}
{% endblock %}
{% block title %}
<h1 class="pagetitle">{{ subject.name }}: Categories</h1>
{% endblock %}
{% block menu %}
<h3>Subjects:</h3>
{% if subject_list %}
<ul>
  {% for sub in subject_list %}
  <li><a href="{% url 'categories' sub.name %}">{{ sub.name }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No subjects are available</p>
{% endif %}
{% endblock %}
{% block content %}
  {% if subject_list %}
  <ul>
    {% for sub in subject_list %}
    <li><a href="{% url 'categories' sub.name %}">{{ sub.name }}</a>
      <br />
      <p>{{ sub.description }}</p>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No subjects found</p>
  {% endif %}
{% endblock %}





{% if subject_list %}
<ul>
  {% for subject in subject_list %}
  <li><a href="{% url 'categories' subject.name %}">{{ subject.name }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>No subjectss are available</p>
{% endif %}
