{% extends "base.html" %}
{% block banner %}
{% endblock %}
{% block title %}
<h1 class="pagetitle"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> {{ subject.name }}: Categories</h1>
<p>{{ subject.description }}</p>
{% endblock %}
{% block content %}
  {% if subject_list %}
  <ul>
    {% for sub in subject_list %}
    <li><h2><a href="{% url 'categories' sub.slug %}">{{ sub.name }}</h2></a>
      <br />
      <p>{{ sub.description }}</p>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No subjects found</p>
  {% endif %}
{% endblock %}
