<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% block pagetitle %}Strategy and Marketing // Branding // Consulting // {{ page.title }} // Tim Barnes{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/media_store/css/scl.css" />
    {% block js %} {% endblock %}
    <meta name="keywords" content="strategy, marketing strategy, business strategy, consulting, change management, business-to-business, market research, internet marketing, web 2.0 {% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{{ page.summary }}.{% endblock %} Strategic planning and marketing insight for business people - tim-barnes.com" />
    <meta name="distribution" content="Global" />
    <meta name="verify-v1" content="WU0FhJh7zuKkBsQ2/6jQ5+0crdje1BWqzbBxSkchQso=" >

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "a536e963-ed3e-4adb-b703-4be51f63705e"}); </script>
  </head>

  <body>
    <div class="main">
      <div class="banner">
	<h1>// Strategy and Marketing - Tim Barnes</h1>
      </div>
      {% block title %}<h1 class="pagetitle">Strategy and Marketing</h1>{% endblock %}
      <div id="sidebar">
	<div id="menu">
	  <!-- Google CSE code begins -->
	  <form id="searchbox_013659549762624135122:eotpjj1_jic" onsubmit="return false;">
	    <input type="text" name="q" size="21"/>
	    <input type="submit" value="Search"/>
	  </form>
	  <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_013659549762624135122%3Aeotpjj1_jic&lang=en"></script>

	  <div id="results_013659549762624135122:eotpjj1_jic" style="display:none">
	    <div class="cse-closeResults">
	      <a>&times; close</a>
	    </div>
	    <div class="cse-resultsContainer"></div>
	  </div>

	  <style type="text/css">
	    @import url(http://www.google.com/cse/api/overlay.css);
	  </style>

	  <script src="http://www.google.com/uds/api?file=uds.js&v=1.0&key=ABQIAAAAMytvTgqywg-ZvOL-yAiB4BRZAlDn81AIGheqbEXtWhPdePnfhRT24wToTNm9raEXg-nWMlYJcbuFZg&hl=en" type="text/javascript"></script>
	  <script src="http://www.google.com/cse/api/overlay.js"></script>
	  <script type="text/javascript">
	    function OnLoad() {
	    new CSEOverlay("013659549762624135122:eotpjj1_jic",
	    document.getElementById("searchbox_013659549762624135122:eotpjj1_jic"),
	    document.getElementById("results_013659549762624135122:eotpjj1_jic"));
	    }
	    GSearch.setOnLoadCallback(OnLoad);
	  </script>
	  <!-- Google CSE Code ends -->
	  {% block menu %}{% endblock %}
	  {% block submenu %}{% endblock %}
	  {% block tagmenu %}{% endblock %}
	  {% block rssmenu %}
	  <div class="rss">
	    <a href="/feeds/latest" title="Subscribe to updates from Strategy and Marketing">RSS Feed // Latest</a><br />
	    <a href="http://www.google.com/reader/m/view/feed%2Fhttp%3A%2F%2Ftim-barnes.com%2Ffeeds%2Flatest%2F?hl=en" title="Mobile phone feed">Mobile RSS // Latest</a>
	  </div>
	  {% endblock %}
	</div>
	{% block advertising %}
	<div class="byline">
	  <h2>About us</h2>
	  <p>Tim Barnes is a widely <a href="/clients/1/" title="Client list">experienced</a> consultant and author. He has provided <a href="/services/1/" title="Strategy and Marketing Services to help your business">strategy, market research and branding services</a> to industries as varied as semiconductors, software, banking, furniture, industrial design and life insurance.</p>
	  <p>His unique <a href="/philosophy/1/" title="Business philosophy">philosophy</a> and <a href="/working/1/" title="Personal commitment to deliver value">working style</a> have enabled him to achieve an industry-leading 95% rate of repeat business.</p>
	  <p>Strategy &amp; Marketing brings unique consultative tools that deliver actionable answers rapidly and in a cost-effective manner.</p>
	  <h2><a href="/contact/1/">Contact us today.</a></h2>
	</div>
      </div>
      {% endblock %}
      <!--            <div class="content" style="background-image:url(/media_store/img/consulting/SandM.png)" -->
      <div class=content>
	{% block content %}{% endblock %}

	{% block comments %}{% endblock %}

      </div>
    </div>
</div>
<div class="rssfixed">
  <a href="/feeds/latest" title="Subscribe to updates from Strategy and Marketing"><img src="/media_store/img/consulting/feed-icon-28x28.png" /></a>
</div>
<script type="text/javascript" src="http://shots.snap.com/ss/1c8eeb6f7faa031d6b12eff52ab17b77/snap_shots.js"></script>
</body>
</html>
