div {font-family:Verdana,Helvetica,Arial,sans-serif;}
a,address,blockquote,cite,code,dd,del,dfn,div,dl,dt,em,form,h1,h2,h3,h4,h5,h6,iframe,img,kbd,li,object,ol,p,q,sam
														  p,small,span,strong,sub,sup,ul,var,applet,b,big,center,dir,font,hr,i,menu,pre,s,strike,tt,u,abbr,acronym,bdo,butt
																												   on,fieldset,ins,label {text-align:left;border-bottom:0pt none;}
p,li {font-size:11px;padding:0em;margin-top:0em;margin-bottom:.9em;line-height:1.5em;}
strong,ins {background-color:inherit;}
ins {text-decoration:none;font-weight:bold;}
hr {background-color:#ff2f1d;size:1px;}
body {font-family:Verdana,"Myriad Web",Syntax,Helvetica,sans-serif;text-align:center;height:100%;}
.bannerad {padding-bottom:.5em;}
.banner {background-color:#ff2f1d;}
.banner h1 {margin-left:195px;font-size:xx-large;}
#sidebar {float:right;width:280px;}
#menu {border:1px #7f8078 solid;margin-left:1em;padding-left:1em;padding-top:0.5em;padding-right:1em;padding-bott
												     om:.5em;line-height:1.25em;background-color:#f0c542;}
.main {margin:0 auto;text-align:left;padding:1em;padding-top:0em;background-color:#fffbc6;}
.content {margin:0px;}
.article {clear:left;}
.firstpara,.toppara {margin-left:195px;line-height:1.75em;background-color:#f7e48c;border-top:solid 1px #7f8078;b
														order-left:solid 1px #7f8078;padding:1em;height:100%;}
.toppara {font-height:90%;}
.inset,.outset,.outsetmenu {font-size:11px;line-height:150%;font-style:italic;background-color:#fffbc6;margin-bot
												       tom:.5em;}
.inset {width:170px;border:solid 1px #ff2f1d;margin-left:.5em;padding:.5em;float:right;}
.outset,.outsetmenu {float:left;width:183px;padding-right:12px;padding-top:1.8em;text-align:right;border-top:soli
														 d 1px #7f8078;}
.outsetmenu {text-align:left;}
.exhibit {font-size:16px;margin:1em;border:solid 1px #ff2f1d;padding:1em;clear:none;}
.exhibit p {font-size:14px;}
.footer {padding-bottom:.5em;font-size:10px;text-align:right;font-style:oblique;}
.advertising {margin-top:1em;float:right;}
.rss {bottom:1em;left:1em;padding:.25em;background:#ffc;border-top:solid 1px #7f8078;}
.rss img {float:none;}
.rssfixed {position:fixed;bottom:2em;left:1em;margin-right:1em;}
.byline {font-style:italic;text-align:justify;padding:1em;margin-left:1em;border-left:solid 1px #7f8078;border-bo
													ttom:solid 1px #7f8078;background-color:#fffbc6;}
#menu p {margin:0px;margin-bottom:.3em;border-top-color:#ff2f1d;border-top-width:1px;line-height:125%;}
.indent {padding-left:1.2em;}
#menu h2,h3,h4 {font-size:large;}
#menu a {color:#7f8078;font-weight:normal;background-color:inherit;}
#menu a:hover {color:#ff2f1d;background-color:#f0c542;}
a {text-decoration:none;background-color:inherit;}
a:link {color:#ff2f1d;}
a:hover {text-decoration:underline;color:#ff2f1d;}
a:visited {color:#6f7068;}
.outsetmenu a {color:#7f8078;}
.outsetmenu a:hover {color:#ff2f1d;}
h1,h2,h3,h4,h5,h6 {line-height:1.33em;margin-bottom:0.33em;font-family:"Myriad Web",Arial,Helvetica,sans-serif;}
h1,h2,h3,h4,h5,h6,dt,th,thead,tfoot {background:none repeat scroll 0% 50%;color:black;}
h1 {margin-top:.5em;font-size:large;padding:2px;}
h1.pagetitle {font-size:xx-large;text-indent:185px;}
h1.sectiontitle {border-top:solid 1px #7f8078;margin-top:0px;text-indent:190px;}
h2 {font-size:medium;font-weight:bold;margin-top:.5em;}
h3 {font-size:small;font-weight:bold;margin-top:.5em;}
img {margin-left:1em;float:right;}
.inline {float:none;}
table {border-collapse:collapse;}
table h1,h2,h3,h4 {}
td {border:1px solid #ff2f1d;padding:.5em;vertical-align:middle;}
blockquote {border-left:2px solid #ff2f1d;padding-left:1em;}
.outset li {padding:0px;}