{% extends "two-col.html" %}
{% load crispy_forms_tags %}
{% block title %}
<h1 class="pagetitle"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Home page for {{ user.username }}.</h1>
{% if message %}
<p>{{ message %}</p>
{% endif %}
<p>My stuff.</p>
{% endblock %}

{% block left %}
   <h1>Subjects // <a href="{% url 'all_subjects' %}">View / add</a></h1>
  {% if subject_subset %}
  <table class="table table-striped">
    <tr>
      <th>Subject</th>
      <th>Description</th>
    </tr>
    {% for sub in subject_subset %}
    <tr>
      <td><a href="{% url 'categories' sub.slug %}">{{ sub.name }}</a></td>
      <td>{{ sub.description }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No subjects found</p>
  {% endif %}
  <h1>Articles // <a href="{% url 'new_article' %}">Create new</a></h1>
  {% if article_subset %}
  <table class="table table-striped">
    <tr>
      <th>Article</th>
      <th>Description</th>
    </tr>
    {% for art in article_subset %}
    <tr>
      <td><a href="{% url 'article' art.slug %}">{{ art.title }}</a></td>
      <td>{{ art.summary }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No articles found</p>
  {% endif %}
  {% endblock left %}

  {% block right %}
    <h1>Projects // <a href="{% url 'projects' %}">Create new</a></h1>
    <p>
  <table class="table table-striped">
    <tr>
      <th>Project</th><th>Description</th>
    </tr>
    {% for p in projects %}
    <tr><td><a href="{% url 'viewProject' p.slug %}">{{ p.name }}</a></td>
        <td>{{ p.description }}</td></tr>
    {% endfor %}
    </table>
  <h1>Favorites</h1>
  <p>- Not implemented. -</p>
    {% for f in favorites %}
    <p>{{ f }}</p>
    {% endfor %}
    {% endblock right %}
