{% extends "two-col.html" %}
{% load crispy_forms_tags %}
{% block title %}
<h1 class="pagetitle"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Home page for {{ username }}.</h1>
{% if message %}
<p>{{ message %}</p>
{% endif %}
<p>Keep track of your personal content.</p>
{% endblock %}

{% block left %}
   <h1>Subjects</h1>
  {% if subject_subset %}
  <table class="table table-striped">
    <tr>
      <th>Subject</th>
      <th>Description</th>
    </tr>
    {% for sub in subject_subset %}
    <tr>
      <td><a href="{% url 'categories' sub.slug %}">{{ sub.name }}</a></td>
      <td>{{ sub.description }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No subjects found</p>
  {% endif %}
   <h1>Categories</h1>
  {% if category_subset %}
  <table class="table table-striped">
    <tr>
      <th>Category</th>
      <th>Description</th>
    </tr>
    {% for cat in category_subset %}
    <tr>
      <td><a href="{% url 'questions'  cat.slug %}">{{ cat.name }}</a></td>
      <td>{{ cat.description }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No categories found</p>
  {% endif %}
  <h1>Articles</h1>
  {% if article_subset %}
  <table class="table table-striped">
    <tr>
      <th>Article</th>
      <th>Description</th>
    </tr>
    {% for art in article_subset %}
    <tr>
      <td><a href="{% url 'article' art.slug %}">{{ art.title }}</a></td>
      <td>{{ art.summary }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No articles found</p>
  {% endif %}
  {% endblock left %}

  {% block right %}
  <h1>Favorites</h1>
  <p>- Not implemented. -</p>
    {% for f in favorites %}
    <p>{{ f }}</p>
    {% endfor %}
    <h1>Notes // <a href="{% url 'notes' %}">Create new</a></h1>
    <p>
  <table class="table table-striped">
    <tr>
      <th>Title</th>
    </tr>
    {% for n in notes %}
    <tr><td><a href="{% url 'note' n.slug %}">{{ n.title }}</a></td></tr>
    {% endfor %}
    </table>
    <h1>Tasklists <a href="{% url 'taskLists' %}">// Create new</a></h1>
    {% for t in task_lists %}
    <p>{{ t }}</p>
    {% endfor %}
    {% endblock right %}
