{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
<h1 class="pagetitle">Home page for user {{ username }}.</h1>
{% if message %}
<p>{{ message %}</p>
{% endif %}
<p>Keep track of your personal content.</p>
{% endblock %}
{% block content %}
<div class=row>
  <div class="col-sm-12 col-md-6">
    <h1>Favorites</h1>
    {% for f in favorites %}
    <p>{{ f }}</p>
    {% endfor %}
  </div>
  <div class= "col-sm-12 col-md-6">
    <h1>Notes</h1>
    {% for n in notes %}
    <p>{{ n }}</p>
    {% endfor %}
    <h1>Tasklists</h1>
    {% for t in tasks %}
    <p>{{ t }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
