{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
<h1 class="pagetitle">Profile for user {{ username }}.</h1>
{% endblock %}
{% block content %}
<div class=row>
  <div class="col-sm-12 col-md-6">
    <p>First and last names are optional.</p>
    {% crispy user_form %}
    <br />
  </div>
  <div class= "col-sm-12 col-md-6">
    <p>You can upload a profile picture, and tell us a bit about what
      interests you and your reasons for using the site if you would like to.</p>
    {% crispy profile_form %}
    <br />
<p>We will never share your e-mail address. It's useful as a way to
  recover your password and for us to tell you about new features if
  you're interested.</p>
  </div>
  {% endblock %}
