{% extends "two-col.html" %}
{% load crispy_forms_tags %}
{% block title %}
<h1 class="pagetitle">Tasks for list: {{ tasklist.name }}.</h1>
{% if message %}
<p>{{ message %}</p>
{% endif %}
<p><a href="{% url 'newTask' tasklist.slug %}">Create a new task</a></p>
{% endblock %}
{% block left %}
<h1>Task Lists</h1>
  {% if tasklists %}
  <table class="table table-striped">
    <tr>
      <th>Task Lists</th>
    </tr>
    {% for tlist in tasklists %}
    <tr>
      <td><a href="{% url 'tasks' tlist.slug %}">{{ tlist.name }}</a></td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No tasklists found</p>
  {% endif %}
  {% endblock left %}

  {% block right %}
<h1>Tasks</h1>
  {% if tasks %}
  <table class="table table-striped">
    <tr>
      <th>Task</th><th>Due</th>
    </tr>
    {% for t in tasks %}
    <tr>
      <td><a href="{% url 'task' t.slug %}">{{ t.task }}</a></td>
      <td>{{ t.due }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No tasks</p>
  {% endif %}
{% endblock right %}
