{% extends "base.html" %}
{% block title %}
<h1 class="pagetitle">{% if subject %}<span class="glyphicon
glyphicon-book" aria-hidden="true"></span> {{ subject.name }}{% else %}<span class="glyphicon glyphicon-list" aria-hidden="true"></span> All Categories{% endif %}</h1>
</p>{{ subject.description }}</p>
{% endblock %}
{% block content %}
  <table class="table table-striped">
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th>Questions</th>
    </tr>
  {% if subject %}
    {% for c in category_subset %}
    <tr>
      <td><a href="{% url 'content' c.slug %}">{{ c.name }}</a></td>
      <td>{{ c.description }}</td>
      <td><a href="{% url 'questions' c.slug %}">Go</a></td>
    </tr>
    {% endfor %}
  {% else %}
    {% for c in category_list %}
	<tr>
	  <td><a href="{% url 'content' c.slug %}">{{ c.name }}</a></td>
	  <td>{{ c.description }}</td>
	  <td><a href="{% url 'questions' c.slug %}">Go</a></td>
	</tr>
    {% endfor %}
  {% endif %}
  </table>
{% endblock %}


