{% extends "base.html" %}
{% block title %}
<h1 class="pagetitle">Category: {{ category.name }}</h1>
<p>{{ category.description }}</p>
{% endblock %}
{% block content %}
<br />
<h2>Subject</h2>
      <p><strong><a href="{% url 'categories' subject.slug %}">{{ subject.name }}</a></strong></p>
<br />
{% if article_subset %}
<h2>Articles</h2>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    </tr>
    {% for a in article_subset %}
    <tr>
      <td><strong>><a href="{% url 'article' a.slug %}">{{ a.title }}</a></td>
      <td>{{ a.summary }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% if question_subset  %}
<h2>Questions</h2>
 <div class="list">
    {% for q in question_subset %}
      <p><a href="{% url 'ask' q.id %}">{{ q.question }}?</a></p>
    {% endfor %}
</div>
<br />
{% endif %}
{% endblock %}


