{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
<h1 class="pagetitle"><span class="glyphicon glyphicon-book"
aria-hidden="true"></span> {% if subject %}Categories for {{ subject.name }}{% else %}All Categories{% endif %}</h1>
{% endblock %}
{% block content %}
  {% if subject_list %}
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn  btn-primary dropdown-toggle">Select subject <span class="caret"></span></button>
	  <ul class="dropdown-menu">
	    {% for sub in subject_list %}
                <li><a href="{% url 'categories' sub.slug %}">{{ sub.name }}</a></li>
	    {% endfor %}
            </ul>
        </div>
  {% else %}
  <p>No subjects found</p>
  {% endif %}
	<br /><br />
  {% if category_subset %}
    <table class="table table-striped">
    <tr>
      <th>Category</th>
      <th>Description</th>
    </tr>
  {% for c in category_subset %}
    <tr>
      <td><a href="{% url 'content' c.slug %}">{{ c.name }}</a></td>
      <td>{{ c.description }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  {% if subject %}
  <p>No categories found.</p>
  {% else %}
    <table class="table table-striped">
    <tr>
      <th>Category</th>
      <th>Description</th>
    </tr>
  {% for c in category_list %}
    <tr>
      <td><a href="{% url 'content' c.slug %}">{{ c.name }}</a></td>
      <td>{{ c.description }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {% endif %}
  {% if user.is_authenticated %}
  {% if subject %}
  <p>Create a new category for this subject.</p>
  {% crispy form %}
  {% endif %}
  {% endif %}
  {% endblock content %}
  