{% extends "two-col.html" %}
{% load crispy_forms_tags %}
{% block banner %}
{% endblock %}
{% block title %}
<h1 class="pagetitle"><span class="glyphicon glyphicon-book"
aria-hidden="true"></span> {% if subject %}Categories for {{ subject.name }}{% else %}All Categories{% endif %}</h1>
{% endblock %}
{% block left %}
  {% if subject_list %}
  <table class="table table-striped">
    <tr>
      <th>Subject</th>
      <th>Description</th>
    </tr>
    {% for sub in subject_list %}
    <tr>
      <td><a href="{% url 'categories' sub.slug %}">{{ sub.name }}</a></td>
      <td>{{ sub.description }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No subjects found</p>
  {% endif %}
  {% if user.is_authenticated %}
  {% if subject %}
  <p>Use the form to create a new category within this subject.</p>
  {% crispy form %}
  {% endif %}
  {% endif %}
{% endblock left %}

{% block right %}
  {% if category_subset %}
    <table class="table table-striped">
    <tr>
      <th>Category</th>
      <th>Description</th>
    </tr>
  {% for c in category_subset %}
    <tr>
      <td><a href="{% url 'content' c.slug %}">{{ c.name }}</a></td>
      <td>{{ c.description }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  {% if subject %}
  <p>No categories found.</p>
  {% else %}
  <p>Click on a subject to see its categories.</p>
    <table class="table table-striped">
    <tr>
      <th>Category</th>
      <th>Description</th>
    </tr>
  {% for c in category_list %}
    <tr>
      <td><a href="{% url 'content' c.slug %}">{{ c.name }}</a></td>
      <td>{{ c.description }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {% endif %}
  {% endblock right %}
  