{% extends "base.html" %}
{% block title %}
<h1 class="pagetitle"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</h1>
<p>Learning and information management for everyone.</p>
{% endblock %}
{% block content %}
<p>Gather information that's useful to you - questions and answers for testing your knowledge, articles about things that interest you, and personal to-do lists and notes to help you keep track of your life.</p>
{% if user.is_authenticated %}
<p><a href="{% url 'myHome' %}">My Home Page</a></p>
{% else %}
<p><a href="{% url 'login' %}">Registered</a> users can create and manage their own content; anyone can browse and make use of the publicly shared information.</p>
{% endif %}
<p><a href="{% url 'all_subjects' %}">Let's get started!</a></p>
{% endblock %}
