{% extends "base.html" %}
{% block banner %}
{% endblock %}
{% block title %}
<h1 class="pagetitle">Subjects</h1>
{% endblock %}
{% block content %}
  {% if subject_list %}
  <table class="table table-striped">
    <tr>
      <th>Subject</th>
      <th>Description</th>
    </tr>
    {% for sub in subject_list %}
    <tr>
      <td><a href="{% url 'categories' sub.slug %}">{{ sub.name }}</a></td>
      <td>{{ sub.description }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No subjects found</p>
  {% endif %}
{% endblock %}
