{% extends "two-col.html" %}
{% load crispy_forms_tags %}
{% block banner %}
{% endblock %}
{% block title %}
<h1 class="pagetitle"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> All Subjects</h1>
{% endblock %}
{% block left %}
  {% if subject_list %}
  <table class="table table-striped">
    <tr>
      <th>Subject</th>
      <th>Description</th>
    </tr>
    {% for sub in subject_list %}
    <tr>
      <td><a href="{% url 'categories' sub.slug %}">{{ sub.name }}</a></td>
      <td>{{ sub.description }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No subjects found</p>
  {% endif %}
{% endblock left %}

{% block right %}
  <p>Select a subject to see its categories, or enter below to create
  a new subject.</p>
  {% crispy form %}
{% endblock right %}